/* TaskList.css */
.task-list {
    list-style-type: none;
    padding: 0;
  }
 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
  .task-list li {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    width: 40%;
    list-style: none;
    border: 2px solid black;
    border-radius: 11px;
    padding: 11px;
    background-color: rgb(109, 136, 13);
    color: #fff;
    font-size: large;
    display: flex;
    
  }
  
  .task-list button {
    padding: 3px 6px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 21px;
  }
  
  .task-list button:hover {
    background-color: #c82333;
  }

  input{
    height: 26px;
    font-size: large;
  }
  button{
    height: 41px;
    width: 111px;
    font-size: large;
  }